.virtualized-scroll-pane {
    -fx-background-color: null;
    -fx-padding: 0;
    -fx-cursor: default;
}

.virtualized-scroll-pane > .scroll-bar:horizontal {
    -fx-background-radius: 0 0 2 2;
}

.virtualized-scroll-pane > .scroll-bar:vertical {
    -fx-background-radius: 0 2 2 0;
}

.virtualized-scroll-pane > .corner {
    -fx-background-radius: 0 0 2 0;
}

.styled-text-area {
    -fx-background-color: rgba(0, 0, 0, 1.0);
    -fx-padding: 0.25em 0.583em 0.583em 0.25em;
    -fx-cursor: text;
}

.caret {
    -fx-stroke: white;
}

.text {
    -fx-font-family: "Monospaced";
    -fx-font-size: 15px;
    -fx-fill: #ddd;
}

.error {
    -fx-fill: red;
    -fx-font-family: "Monospaced";
    -fx-font-size: 15px;
}